.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100; /* Certifique-se de que o z-index é menor que o do Navbar */
  position: relative; /* Alterado para relative para garantir que o Navbar esteja visível */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #C8E0F4;
  margin-bottom: 100px;
}
.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: #202020 1px 0.5px 10px;
}

.subtitle {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-shadow: #202020 1px 0.5px 10px;
}

.link-saiba-mais {
  text-decoration: none;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-saiba-mais {
  background-color: #508AA8;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-shadow: #202020 1px 0.5px 10px;
  box-shadow: #202020 0.5px 1px 10px;
}

.button-saiba-mais:hover {
  background-color: #0056b3;
}
