/* SobreMim.css */
:root {
  --rich-black: #031927ff;
  --air-force-blue: #508aa8ff;
  --viridian: #408567ff;
  --baby-blue: #9dd1f1ff;
  --columbia-blue: #c8e0f4ff;
}

.sobre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 20px 90px; 
  text-align: center;
  background: linear-gradient(rgba(80, 138, 168, 25%), rgba(157, 209, 241, 70%) ,rgba(200, 224, 244, 25% ));
}

.sobre-titulo {
  font-size: 2rem;
  color: var(--rich-black) , 0.666;
  margin-bottom: 10px;
}

.sobre-imagem {
  position: relative;
    width: 200px;
    height: 200px;
    background-color: var(--viridian);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
  }
  .sobre-imagem::after{
    content: "";
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(360deg, #07e2f1, #eb9b05);
    animation: animate 5s linear infinite;
  }
  
.sobre-imagem:hover::before{
  inset: -20px 0;
   
}
.sobre-nome {
  font-size: 2rem;
  color: var(--air-force-blue);
  margin-bottom: 20px;
}

.sobre-paragrafo {
  font-size: 1.2rem;
  color: var(--rich-black);
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 800px;
  text-align: justify;
}

/* Adiciona um efeito de hover na imagem */
.sobre-imagem:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

