/* Footer.css */
:root {
  --rich-black: #031927ff;
  --air-force-blue: #508aa8ff;
  --viridian: #408567ff;
  --baby-blue: #9dd1f1ff;
  --columbia-blue: #c8e0f4ff;
}

.footer {
  background-color: rgba(128, 128, 128, 0.666);
  color: var(--columbia-blue);
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  text-align: justify;
}

.footer-section {
  flex: 1;
  padding: 10px;
  min-width: 200px;
  text-align: center;
}

.footer-section h5 {
  margin-bottom: 10px;
  color: var(--baby-blue);
  font-size: 1.2em;
}

.footer-section p, 
.footer-section ul, 
.footer-section li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
}

.footer-section a {
  color: var(--columbia-blue);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: var(--air-force-blue);
  font-weight: bold;
}

.footer-bottom {
  text-align: center;
  padding: 5px;
  border-top: 1px solid var(--columbia-blue);
  margin-top: 5px;
  width: 100%;
  max-width: 1200px;
}
