.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.svg-container {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid rgb(157, 179, 210);
}


.logo-svg-pompeu {
    fill: var(--columbia-blue);
}
