:root {
  --rich-black: #031927ff;
  --air-force-blue: #508aa8ff;
  --viridian: #408567ff;
  --baby-blue: #9dd1f1ff;
  --columbia-blue: #c8e0f4ff;
}

.navbar-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 6rem; 
  padding: 20px 10px;
  background-color: rgba(128, 128, 128, 0.666);
  position:absolute;
  top: 0;
  z-index: 1000;
}

.navbar-home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-home a {
  color: var(--baby-blue);
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.navbar-home a:hover {
  color: var(--air-force-blue);

}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
    
}

.navbar-links a {
  color: var(--baby-blue);
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.5s ease, transform 0.5s ease;
  padding-right: 15px;
}

.navbar-links a:hover {
  color: var(--air-force-blue);
  transform: scale(1.2); ;

}
